.textarea {
  padding-bottom: 56px;

  @media (min-width: $tablet-width) {
    grid-area: textarea;
  }

  .feedback__textarea {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    height: 150px;
    border: none;
    resize: none;
    padding: 16px;
    background-color: $fordFieldsColor;
  }
}
