.page-container__advantages {
  display: flex;
  flex-direction: column;
}

.advantages-card-container {
  background-color: $color-blue;
  color: $color-white;
  padding: 49px 19px 39px 19px;

  @media (min-width: $tablet-width) {
    min-width: 192px;
    min-height: 173px;
    padding-top: 41px;
  }

  @media (min-width: $desktop-width) {
    max-width: 295px;
    min-height: 153px;
    padding: 48px 52px 56px 53px;
  }
}

.advantages-card-container--second {
  order: 1;
  padding-top: 39px;
  padding-bottom: 34px;
  padding-left: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-left: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 53px;
    padding-top: 52px;
  }
}




.advantages-card__image {
  display: block;
  object-fit: cover;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {

  }
}

.advantages__card {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    // grid-template-columns: 256px 1fr;
    // grid-template-rows: 256px;
  }

  .advantages-card__title {
    @include font-bold(18px);
    padding-bottom: 49px;
    margin-right: 6px;
    position: relative;

    @media (min-width: $tablet-width) {
      @include font-bold(21px);
      display: inline-block;
      max-width: 130px;
      margin: 0;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 56px;
    }

    @media (min-width: $desktop-width) {
      @include font-bold(21px);
      display: inline-block;
      max-width: 130px;
      margin: 0;
      padding-bottom: 57px;
    }
  }

  .advantages-card__title--second  {
    @media (min-width: $tablet-width) {
      max-width: 150px;
    }

    @media (min-width: $desktop-width) {

    }
  }

  .advantages-card__description {
    @extend %font-regular;

    @media (min-width: $desktop-width) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .advantages-card__description--second {
    @media (min-width: $tablet-width) {
      padding-top: 1px;
      max-width: 196px;
      margin-left: 29px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0px;
      max-width: 233px;
      margin-left: 13px;
    }
  }

  .advantages-card__description--last {
    padding-left: 13px;
    max-width: 246px;

    @media (min-width: $tablet-width) {
      padding-left: 0;
    }

    @media (min-width: $tablet-width) {
      max-width: 302px;
    }
  }
}

.advantages__card--main {

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 256px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 256px;
  }
}

.advantages__card--second {

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 256px;
    grid-template-rows: 256px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 256px;
  }
}

.advantages__recommend {
  background-color: $color-white;
  padding: 32px 18px 52px 65px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

// other reason
.advantages-card--light {
  background-color: $background-gray;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 27px;
  padding-bottom: 27px;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 41px 40px 41px 33px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 11px;
  }
}

.advantages__card-list {
  list-style-type: none;
  margin: 0;

  .advantages-card-item {
    position: relative;
    margin-left: 6px;

    &:first-child {
      &::after {
        display: block;
        position: absolute;
        content: "";
        border-bottom: 1px solid $color-gray-light;
        width: 284px;
        bottom: 24px;
        left: -6px;
      }
    }

    &:nth-child(2) {
      padding-bottom: 51px;

      &::after {
        display: block;
        position: absolute;
        content: "";
        border-bottom: 1px solid $color-gray-light;
        width: 284px;
        bottom: 25px;
        left: -6px;
      }
    }

    @media (min-width: $tablet-width) {
      flex-direction: column;
      max-width: 179px;
      max-height: 123px;
      align-items: center;
      padding-top: 2px;
      margin-left: 5px;

      &:first-child {
        &::after {
          display: none;
        }
      }

      &:nth-child(2) {
        &::after {
          display: none;
        }
      }
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
      max-width: 315px;
      min-height: 151px;
      padding-top: 3px;
      margin-left: 9px;
    }

    &:nth-child(3) {
      padding-bottom: 0;
    }

    & .advantages-card__title {
      @media (min-width: $tablet-width) {

      }

      @media (min-width: $desktop-width) {

      }
    }
  }

  .advantages-card-item {
    padding-bottom: 48px;

    @media (min-width: 768px) {
      padding-bottom: 0;
    }
  }

.advantages-card-item--road {
  padding-top: 0;
  margin-right: 0;

  @media (min-width: $desktop-width) {
    padding-top: 2px;
    margin-right: 18px;
  }
}

.advantages-card-item--tourists {
  margin-right: 0;

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}




  .advantages-card__description--light {
    color: $color-gray;
    padding-right: 6px;

    & .text__gap--road {
      display: table;
      padding-left: 33px;
    }

    & br {
      @media (max-width: 767px){
        content: "";
        &::after {
          content: "\00a0";
        }
      }
    }

      @media (min-width: $tablet-width) {
        min-width: 180px;
        padding-right: 0;

        & .text__gap--road {
          display: contents;
          padding-left: 0;
        }
    }

      @media (min-width: $desktop-width) {

        & br {
          &:nth-child(1) {
            content: "";
          &::after {
            content: "\00a0";
          }
        }
      }

      .text__gap--tourists {
        display: table;
      }

    }
  }
}
