.catalog-container {
  &__proof {
    margin-top: 18px;

    @media (min-width: $tablet-width) {
      margin-top: 53px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 66px;
    }
  }
}
