.control-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 36px;
    margin-left: 41px;
  }
}

.control__input:checked + .control__icon::before {
  position: absolute;
  top: 13.5px;
  left: 14.5px;
  width: 16.5px;
  height: 16.5px;
  background-color: $control-mark;
  border-radius: 50%;
  content: "";
}

.control__input:active + .control__icon::before {
  opacity: 0.3;
}

.control__icon {
  top: -2px;
  left: 0;
  width: 46px;
  height: 46px;
  border: none;
  background-color: $control-usually;
  border-radius: 50%;

  &:hover {
    background-color: $control-hover;
  }

  &:focus {
    background-color: $control-active;
  }
}

.control__input:active + .checkbox__icon::before {
  opacity: 0.3;
}

.control__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-left: 16px;
}

.control__name--checkbox {
  margin-top: 1px;
}

.radio {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-area: radio;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 65px;
    min-width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
  }
}

.control {
  position: relative;
  display: flex;
  align-items: center;


  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
