.feedback__group {
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    border-top: 1px solid $catalog-card-line;
    right: 0;
    left: 0;
    top: -25px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.feedback__title {
  @include font-bold(18px);
  margin-bottom: 20px;
  text-align: center;
  position: relative;

  &::before {
    display: none;
    position: absolute;
    content: "";
    border-top: 1px solid $catalog-card-line;
    right: 100%;
    top: 50%;
    width: 123px;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    border-top: 1px solid $catalog-card-line;
    left: 100%;
    top: 50%;
    width: 123px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 21px;
    margin-left: -1px;
    margin-top: -1px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;

    &::after {
      width: 279px;
    }

    &::before {
      width: 279px;
    }
  }
}

.feedback__title--information {
  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 94px;
  }
}

.feedback__title--impressions {
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    width: 402px;
    line-height: 23px;

    &::before {
      display: block;
    }

    &::after {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.feedback__title--attractions {
  margin-right: 3px;
  margin-left: 1px;

  &br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 402px;

    &br {
      display: block;
    }

    &::before {
      display: block;
    }

    &::after {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.feedback__title--emotions {
  @media (min-width: $tablet-width) {
    width: 402px;

    &::before {
      display: block;
    }

    &::after {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.feedback__wrapper {
  @extend%font-regular;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    max-width: none;
  }
}

.feedback__container {
  grid-area: formButton;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-width: 768px;
  }
}

.feedback__button {
  padding: 18.5px 33px 13.5px 32px;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    padding: 18.5px 33px 13.5px 21px;
  }

  @media (min-width: $desktop-width) {
    min-width: 384px;
  }
}

.feedback__necessarily {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  opacity: 0.6;
  margin-top: 2px;
  text-align: end;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-top: 10px;
  }
}

.feedback__checkbox {
  @media (min-width: $tablet-width) {
    grid-column-gap: 32px;
    margin-top: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 906px;
    margin-top: 49px;
    margin-left: 36px;
    gap: 64px;
  }
}

.feedback__item {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }

  &--radio {
    @media (min-width: $tablet-width) {
      min-width: 280px;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      min-width: 224px;
    }

    @media (min-width: $desktop-width) {
      min-width: 153px;
    }
  }
}

.feedback__radio {
  @media (min-width: $desktop-width) {
    gap: 28px;
  }
}

.feedback__textarea {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  min-height: 118px;
  border: none;
  resize: none;
  padding: 16px;
  background-color: $fordFieldsColor;

  &::placeholder {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    height: 127px;
    min-width: 95%;
    padding-top: 17px;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    height: 126px;
    min-width: 96%;
    padding-top: 18px;
    margin-top: 17px;
  }
}
