// footer
.page-footer {
  background-color: $color-white;
  padding: 23px 77px  20px 77px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px  36px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.page-footer__hashtag {
}

.hashtag {
  text-align: center;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.hashtag__text {
  @include font-bold(21px);
}



.social {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  .social__list {
    min-width: 156px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    @media (min-width: $tablet-width) {
      min-width: 156px;
    }

    .social__item {
      background-color: $color-blue;
      width: 48px;
      height: 48px;
      padding: 0;

      &:hover {
        background-color: $button-hover;
      }

      &:active {
        background-color: $button-down;
      }

      .social__link {
        position: relative;
        color: $color-black;

        &--vkontakte {
          top: 17px;
          left: 12px;
        }

        &--telegram {
          top: 15.02px;
          left: 13.5px;
        }

        &--youtube {
          top: 17px;
          left: 14px;
        }

        .social__icon {
          position: absolute;
          color: $color-white;

          &:active {
            opacity: 0.3;
          }
        }
      }
    }
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  flex-direction: row;


  .copyright__title {
    @extend %font-regular;
  }

  .copyright__link {
    text-decoration: none;
    @extend %font-regular;
    color: $color-black;
    height: 35px;

    &:hover {
      color: $color-blue;
    }

    &:active {
      color: $copyright__icon-active;
    }
  }

  .copyright__icon {
    vertical-align: middle;
    margin-left: 13px;
  }
}

.page-footer--form {
  padding-top: 52.5px;
  padding-bottom: 24px;
}
