.form-container {
  background-color: $color-white;
}

.form-container__feedback {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 120px;
    margin-right: 120px;
  }
}

.form-container__feedback:last-child {
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
