.feedback__group {
  border: none;
  display: flex;
  flex-direction: column;


  .feedback__title {
    @include font-bold(18px);
  }

}

.person {
  @extend %font-regular;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.person__name {

}

.person__input {
  border: none;
  padding: 16px;
  background-color: $fordFieldsColor;
}


