.page-header {
  height: 56px;
  background-color: $color-white;

  .page-header__toggle {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .page-header__logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .page-header__navigation {
    background-color: $color-blue;
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      background-color: $color-white;
      color: black;
      // flex-direction: column;
    }

    .navigation {
    }

    .navigation__list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-between;
      }

      @media (min-width: $desktop-width) {
      }

      .navigation__item {
        padding-top: 18px;
        text-align: center;

        @media (min-width: $tablet-width) {
          min-width: 153px;
        }

        @media (min-width: $desktop-width) {
          min-width: 240px;
        }

        .navigation__item--current {
        }

        .navigation__link {
          @include font-bold(18px);
          text-decoration: none;
          color: $color-white;

          @media (min-width: $tablet-width) {
            color: $color-black;
          }
        }
      }

      .navigation__item:nth-of-type(2) {
        margin-right: auto;
      }
    }
  }
}
