.page-header {
  position: relative;
  min-height: 56px;
  background-color: $color-white;
}

.page-header__toggle {
  position: absolute;
  border: none;
  background-color: $color-white;
  padding: 0;
  width: 44px;
  height: 44px;
  top: 6px;
  right: 4px;
  cursor: pointer;
}

.page-header__logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: -2px;
  right: 0;
  text-align: center;
  max-width: 185px;
  z-index: 6;
}

.page-header__navigation {
  background-color: $color-blue;
  position: absolute;
  width: 100%;
  z-index: 5;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $color-white;
    color: $color-black;
  }
}
