.page-container__hero {
  background-image: url(../img/images/Main-background-modile.jpg);
  background-position: top;
  padding: 90px 19px 85px 19px;
  margin: 0;
  text-align: center;

  

  .hero__image {
    max-width: 100%;
  }

  @media (min-width: $tablet-width) {
    background-image: url(../img/images/main-backgorund-desktop.jpg);
    background-position: 50% 0;
    background-size: cover;
  }
}

.hero {
  background-image: url("../img/images/catalog-background-modile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 52px 40px 67px 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-image: url(../img/images/catalog-background-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 290px;
  }

  @media (min-width: $desktop-width) {
    min-height: 301px;
  }
}
