.page-container__hero {
  background-image: url(../img/images/Main-background.jpg);
  background-position: center;
  padding: 90px 19px 85px 19px;
  margin: 0;
}




.hero {
  background-image: url("../img/images/catalog-background-desktop.jpg.jpg");
  padding: 52px 40px 67px 40px;
}
