.page {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  counter-reset: number;
  height: 100%;

  @media (min-width: $desktop-width) {
    background-color: $color-curnains;
  }
}

.page__preview {
  background-color: $color-white;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 39px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/triangle-top.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 57px;
    width: 100%;
    top: -56px;
    left: 0;

    @media (min-width: $tablet-width) {
      top: -56px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 49px;
    padding-bottom: 56px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 60px 358px 45px 358px;
  }
}

.page__title {
  @include font-bold(18px);
  padding-bottom: 35px;
  margin-left: 30px;
  margin-right: 35px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-bold(21px);
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 5px;
  }
}

.page__title--form {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -3px;
    padding-bottom: 29px;
  }
}

.page__text {
  @extend%font-regular;
  color: $color-gray;
  margin-right: 21px;
  margin-left: 19px;

  @media (min-width: $tablet-width) {
    margin-left: 120px;
    margin-right: 120px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page__preview--catalog,
.page__preview--form {
  &::before {
    top: -57px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: -56px;
    }
  }
}

.page__preview--form {
  padding: 37px 20px 0 20px;
  margin-top: -1px;
  margin-bottom: 63px;

  &::before {
    top: -56px;
  }

  @media (min-width: $tablet-width) {
    padding: 65px 166px 104px 166px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 380px 67px;
  }

  .page__text {
    margin: 0;

    @media (min-width: $tablet-width) {
      line-height: 24px;
    }
  }
}

.page__preview--index {
  &::after {
    content: "";
    position: absolute;
    background-color: $color-white;
    height: 37px;
    width: 100%;
    bottom: -36px;
    left: 0;
    clip-path: polygon(50% 43%, 0 0, 100% 0);
  }
}

.page__preview--catalog {
  padding-left: 4px;
  padding-top: 38px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding: 67px 160px 81px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 383px 89px 385px;
  }

  .page__title {
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      padding-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
      font-size: 30px;
      padding-bottom: 31px;
    }
  }

  .page__text {
    padding-right: 2px;

    @media (min-width: $tablet-width) {
      padding-left: 3px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-right: 4px;
    }
  }
}
