.page__preview {
  background-color: $color-white;
  text-align: center;
  // padding: 32px 19px 32px 19px;
  padding-top: 34px;
  padding-bottom: 38px;
  // padding-right: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(/img/icons/triangle-top.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 57px;
    width: 100%;
    top: -56px;
    left: 0;

    @media (min-width: $tablet-width) {
      top: -56

      px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 49px;
    padding-bottom: 55px;


    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 60px 358px 44px 358px;
  }

  .page__title {
    @include font-bold(18px);
    padding-bottom: 35px;
    margin-left: 30px;
    margin-right: 35px;
    text-align: center;

    @media (min-width: $tablet-width) {
      @include font-bold(21px);
      margin-left: 120px;
      margin-right: 120px;
      padding-bottom: 29px;
    }
    @media (min-width: $desktop-width) {
      margin: 0;
      margin-right: 6px;
    }
  }

  .page__title--form {
      font-weight: 700;
      font-size: 30px;
      line-height: 26px;
      text-transform: uppercase;
      margin: 0;
  }

  .page__text {
    @extend %font-regular;
    color: #333333;
    margin-right: 21px;
    margin-left: 19px;

    @media (min-width: $tablet-width) {
      margin-left: 120px;
      margin-right: 120px;
    }

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.page__preview--index {
  &::after {
    content: "";
    position: absolute;
    background-color: $color-white;
    height: 37px;
    width: 100%;
    bottom: -36px;
    left: 0;
    clip-path: polygon(50% 43%, 0 0, 100% 0);
  }
}

.page__preview--catalog {
  @media (min-width: $tablet-width) {
    padding: 63px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 371px 65px 371px;
  }
}

.page__preview--form {
  padding: 36px 20px 53px 20px;

  @media (min-width: $tablet-width) {
    padding: 64px 166px 102px 166px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 383px 67px 383px;
  }
}
