
.catalog-container__proof {
  padding: 17px 20px 0;

  .more {
  }

  .more__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
  }

  .more__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 0;
  }

  .more__video {
  }
}
