.recommend__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 31px 59px 32px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 78px 77px 60px;
  }
}

.recommend__item {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 193px;
    margin-top: 159px;
  }

  @media (min-width: $desktop-width) {
    max-width: 278px;
    margin-top: 157px;
  }

  &:not(:last-child) {
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.recommend__item--house {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/house.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 38px;
    width: 39px;
    top: -8px;
    left: -47px;

    @media (min-width: $tablet-width) {
      height: 72px;
      width: 75px;
      top: -99px;
      left: 58px;
    }

    @media (min-width: $desktop-width) {
      left: 100px;
      height: 78px;
      width: 76px;
      top: -101px;
    }
  }

  & .recommend__title {
    @media (min-width: $desktop-width) {
      padding-top: 4px;
    }
  }
}

.recommend__item--eat {
  margin-left: 5px;

  @media (min-width: $desktop-width) {
    margin-right: 48px;
  }

  & .recommend__title {
    @media (min-width: $desktop-width) {
      padding-left: 20px;
      padding-top: 2px;
      padding-bottom: 22px;
    }
  }

  & .recommend__description {
    @media (min-width: $tablet-width) {
      max-width: 151px;
    }

    @media (min-width: $desktop-width) {
      min-width: 302px;
      padding-left: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: -3px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/burger.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 35px;
    width: 53px;
    top: -6px;
    left: -58px;

    @media (min-width: $tablet-width) {
      height: 76px;
      width: 75.9px;
      top: -100px;
      left: 36px;
    }

    @media (min-width: $desktop-width) {
      left: 110px;
      height: 76px;
      width: 75.9px;
      top: -97px;
    }
  }
}

.recommend__item--souvenirs {
  margin-left: -3px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/gift.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 39px;
    width: 32px;
    top: -9px;
    left: -40px;

    @media (min-width: $tablet-width) {
      height: 75px;
      width: 104px;
      top: -102px;
      left: 43px;
    }

    @media (min-width: $desktop-width) {
      top: -99px;
      left: 55px;
    }
  }

  & .recommend__title {
    @media (min-width: $desktop-width) {
      padding-right: 14px;
      padding-top: 2px;
    }
  }

  & .recommend__description {
    @media (max-width: 1199px) {
      & br {
        content: "";

        &::after {
          content: "\00a0";
        }
      }
    }

    @media (min-width: $desktop-width) {
      max-width: 244px;
      margin-right: 16px;
    }
  }
}

.recommend__title {
  @include font-bold(18px);
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    @include font-bold(21px);
    padding-bottom: 23px;
  }
}

.recommend__description {
  @extend%font-regular;
  color: $color-gray;

  .text__gap--souvenirs {
    display: table;
  }
}
