$color-blue: #81B3D2;
$color-white: #FFFFFF;
$color-black: #000000;

$color-gray: #333333;
$color-gray-light: #D6D6D6;
$background-gray: #EEEEEE;
$fordFieldsColor: #F2F2F2;
$color-gray-very-light: #EAEAEA;

$color-black-opacity: rgba($color-black, .3);


$catalog-card-line: #E5E5E5;
$form-icon-backgorund: #E6E6E6;


$active-menu: #766357;
$button-hover: #669EC0;
$button-down:#5496BD;
$button-disabled: #E5E5E5;

$color-curnains: #E7E5E5;

$control-usually: #F2F2F2;
$control-hover: #E5E5E5;
$control-active: #D5D5D5;
$control-mark: #333333;

$copyright__icon-active: #B3B3B3;

