$color-blue: #81B3D2;
$color-white: #FFFFFF;
$color-gray: #333333;
$color-gray-light: #D6D6D6;
$background-gray: #EEEEEE;
$fordFieldsColor: #F2F2F2;
$color-gray-very-light: #EAEAEA;
$color-black: #000000;
$color-black-opacity: rgba($color-black, .3);

