$color-blue: #81b3d2;
$color-background-image: #d7e5f0;
$color-white: #ffffff;
$color-black: #000000;

$color-gray: #333333;
$color-gray-light: #d6d6d6;
$background-gray: #eeeeee;
$fordFieldsColor: #f2f2f2;
$color-gray-very-light: #eaeaea;

$color-black-opacity: rgba($color-black, 0.3);

$catalog-card-line: #e5e5e5;
$form-icon-backgorund: #e6e6e6;


$active-menu: #766357;
$button-hover: #669ec0;
$button-down:#5496bd;
$button-disabled: #e5e5e5;

$color-curnains: #e7e5e5;

$control-usually: #f2f2f2;
$control-hover: #e5e5e5;
$control-active: #d5d5d5;
$control-mark: #333333;

$copyright__icon-active: #b3b3b3;

