
%font-menu {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

%main-font-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

%main-font-discription {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
