body {
  background-color: $color-white;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (min-width: $mobile-width-only) {
    max-width: $tablet-width;
  }

  @media (min-width: $tablet-width) {
    max-width: $desktop-width;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      border-right: 15px solid #000101;
      border-image: linear-gradient(to right, rgba(0, 1, 1, 0.2), $color-curnains) 0 100%;
      right: -15px;
      height: 100%;
    }

    &::before {
      position: absolute;
      content: "";
      border-right: 15px solid #000101;
      border-image: linear-gradient(to left, rgba(0, 1, 1, 0.2), $color-curnains) 0 100%;
      left: -15px;
      height: 100%;
    }
  }
}

main {
  flex-grow: 2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

input,
button,
textarea {
  outline: 0;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
}

input:focus + span {
  background-color: $control-active;
}
