@mixin font-bold($font-size) {
  font-weight: 700;
  font-size: $font-size;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

@mixin header-font($font-weight) {
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
