$background-blue: #81B3D2;
$background-gray: #EEEEEE;
$background-white: #FFFFFF;
$background-catalog-card_light: #F2F2F2;
$background-catalog-card_dark: #EAEAEA;
$background-catalog: #E5E5E5;
$background-contacts: #E6E6E6;

$font-color-main: #000000;
$font-color-description: #333333;



$font-title-size: 18px;
$font-title-line-height: 26px;
$font-description-line-height: 21px;
$font-description-size: 14px;


